.resume
  .left
    .photo
    h1 游譓盈
    h4 淡江大學 | 教育科技學系
    hr
    .buttons
      a.btn.fill(href='https://www.tku.edu.tw', target='_blank') 作品集
      a.btn.mailto(href='mailto:greenth@gmai1.com',target='_blank') 寄信給我
    .block
      h4 Programming Skill
      h2 程式技能
      ul.listProgram
        li
          | Html/Css/
        li
          | Pug/Sass
    .block
      h4 Experience 
      h2 學習經歷
      ul.listExperience
        li.year
          | 2013
          ul
            li 桃園縣立南崁國中
            li 國立陽明高級中學
            li 國立勤益科技大學 
            li 淡江大學
          | 2024
  .right
    .decoration
    span
      .block
      h4 Skills
      h2 專業技能
      ul.listskill
        li
          .circle
            .p90
            .p180
            .p270
            .p360
            h4.num 100%
          |Adobe Photoshop
        li
          .circle
            .p90
            .p180
            .p270
            h4.num 70%
          |Adobe illustrator
        li
          .circle
            .p90
            .p180
            .p270
            .p360
            h4.num 100%
          |Adobe Premiere pro
        li
          .circle
            .p90
            .p180
            .p270
            h4.num 75%
          |Adobe XD
          .circle
            .p90
            .p180
            .p270
            h4.num 75%
          |Microsoft word
          .circle
            .p90
            .p180
            .p270
            .p360
            h4.num 100%
          |Microsoft powerpoint
          .circle
            .p90
            .p180
            .p270
            h4.num 75%
          |Microsoft excel